/* ISPA Sheet CSS ---> */

.main-body { 
    margin-left: 5px;
    margin-top: 5px;
}

.NHS { 
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: white;
    color: rgb(0 94 184);
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    font-weight: bold;
}

.NHS:hover {
    background-color:rgb(168, 209, 247);
}

.copy {
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(0 94 184);
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.copy:hover {
    background-color: white;
    color: rgb(0 94 184);
}

#myInput {
   margin-top: 5px; 
   margin-top: 5px; 
}

.deff {
    font-style: italic;
    font-size: smaller;
    color: grey;
}

.GP_button {
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: rgb(168, 209, 247);
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
    text-decoration: none;
}

.GP_button:hover {
    background-color:rgb(98, 179, 252);
    color: black;
    text-decoration: none;
}

.GP_link:visited, .GP_link:active {
    background-color:rgb(168, 209, 247);
    color: black;
    text-decoration: none;
}

/* GP List CSS ---> */

.back_button {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: rgb(168, 209, 247);
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
    text-decoration: none;
    float: right;
}

.back_button:hover {
    background-color:rgb(98, 179, 252);
    color: black;
    text-decoration: none;
}

.back_link:visited {
    background-color:rgb(98, 179, 252);
    color: black;
    text-decoration: none;
}

.back_link:active {
    background-color:rgb(98, 179, 252);
    color: black;
    text-decoration: none;
}

