/* ISPA Sheet CSS */

.main-body { 
    margin-left: 5px;
    margin-top: 5px;
}

#hello { /* intro statement */
    color: grey;
    font-style: italic;
    white-space: normal;
}

.button, .button:visited, .button:active, .lnk, .lnk:active, .lnk:visited {
    border-radius: 4px;
    background-color:white;
    color: royalblue;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.button:hover, .lnk:hover {
    background-color:rgb(98, 179, 252);
    color: black;
    text-decoration: none;
}

.accordion {
    margin-top: 10px;
}

.deff { /* dictionary definitions */
    font-style: italic;
    font-size: smaller;
    color: grey;
    white-space: pre-line;
}

.NoSpace { /* text in Macmillan section */
    font-style: italic;
    font-size: smaller;
    color: grey;
}

.b { /*bold text */ 
    font-weight: bold;
}

#content { /*textarea box */ 
    margin-top: 20px;
}


/* GP List CSS */

#gpBody {
    margin-left: 5px;
    margin-top: 5px;
}

.back_link:visited, .GP_link:visited, .back_link:active, .GP_link:active {
    background-color:rgb(98, 179, 252);
    color: black;
    text-decoration: none;
}

.table tbody tr:hover td, .table tbody tr:hover th { 
    background-color: rgb(236, 247, 114); 
}

.inline {
    display: inline-block;
    position: absolute;
    margin-right: 10px;
    margin-bottom: 50px;
}

.back_button {
 margin-left: 10px;   
}

#refresh {
    margin-right: 50px;
}

#myInput {  /* search box */    
    margin-top: 10px;
}



/* */  

/* .GP_button {
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: rgb(168, 209, 247);
    color: black;
    cursor: pointer;
    transition-duration: 0.4s;
    font-weight: bold;
    text-decoration: none;
}

.copy {
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(0 94 184);
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .btn1, .btn1:visited, .btn1:active, .lnk, .lnk:active, .lnk:visited { 
    border-radius: 4px;
    background-color:white;
    color: royalblue;
    cursor: pointer;
    transition-duration: 0.2s;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;

- need to get buttons sorted out on GP page
- get rid of page margin that is too big

*/
